body {
  display: flex;
  flex-direction: column;
  background-color: #dfa590;
}

body header h2 {
  color: rgb(15, 14, 14);
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  padding-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #90cadf;
  font-size: 1.25em;
}

/* Header navigation */
.top-nav {
  background-color: #90cadf;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 0.25em;
}

.ham-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 6px 0;
}

/* Screen size mobile */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: rgb(233, 183, 150);
    width: 90%;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
  }
  .nav-links.show a {
    padding: 1em;
    border: black 1px solid;
    border-radius: 10px;
  }

  .nav-link {
    margin: 0;
  }

  .ham-menu {
    display: block;
  }
}

label,
form,
input {
  display: block;
  font-size: 20px;
  color: #7f7d95;
  align-items: left;
  justify-content: space-between;
  text-align: left;
}

input {
  margin: 1em;
  align-items: right;
}

.box {
  display: flex;
  justify-content: center;
  align-items: left;
  width: 50%;
  padding: 5px;
  border: 6px dashed;
  border-color: #90cadf;
  background-color: bisque;
  border-radius: 1em;
}
