body,
html {
  display: flex;
  flex-direction: column;
  background-image: url("img/Quilt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(231, 112, 112);
}

body header h2 {
  color: rgb(15, 14, 14);
  text-align: right;
  font-family: cursive;
  font-size: 1em;
  padding-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3CA6AA;
  font-size: 1.25em;
}
/* Header navigation */
.top-nav {
  background-color: #3CA6AA;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 0.25em;
}

.ham-menu {
  display: none; 
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 6px 0;
}
/* Screen size mobile */
@media only screen and (max-width: 768px) {

  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: rgb(233, 183, 150);
    width: 90%;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
  }
  .nav-links.show a {
    padding: 1em;
    border: black 1px solid;
    border-radius: 10px;
  }

 
  .nav-link {
    margin: 0; 
  }

  .ham-menu {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.box p,
.box h2 {
  color: rgb(188, 12, 12);
  width: 70%;
  border: 4px dashed;
  border-color: #3CA6AA;
  background-color: bisque;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 1em;
}

.Directory {
  display: list;
  color: rgb(236, 78, 144);
}
