body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7df1ca;
}

body header h2 {
  color: #0f0e0e;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  padding-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  background-color: #f17ea4;
  font-size: 1.25em;
}

.box h2 {
  color: rgb(160, 86, 86);
  text-align: center;
  font-family: cursive;
  font-size: 2em;
  text-align: center;
}

.box h3 {
  display: flex;
}

/* Header navigation */
.top-nav {
  background-color: #f17ea4;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 0.25em;
}

.ham-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 6px 0;
}

/* Screen size mobile */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide box elements on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: rgb(233, 183, 150);
    width: 90%;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
  }
  .nav-links.show a {
    padding: 1em;
    border: black 1px solid;
    border-radius: 10px;
  }

  .nav-link {
    margin: 0;
  }

  .ham-menu {
    display: block;
  }
}
.box {
  justify-content: left;
  align-items: left;
  width: 85%;
  padding: 2px;
  margin: 1em;
  border: 4px dashed;
  border-color: #f17ea4;
  background-color: bisque;
  border-radius: 1em;
}

#API-container {
  display: flex;
  border: #f17ea4 4px dashed;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em;

  img {
    border-radius: 1em;
    height: 20em;
    position: center;
  }
}

#tips-container {
  display: flex;
  border: #f17ea4 4px dashed;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

#tipsTricksButton {
  background-color: blanchedalmond;
  color: green;
  height: 3em;
  border-radius: 1em;
}

#freshFoxes {
  background-color: blanchedalmond;
  color: green;
  height: 3em;
  border-radius: 1em;
}

#tipsTricksFoxes {
  background-color: blanchedalmond;
  color: green;
  height: 3em;
  border-radius: 1em;
}
.button {
  display: flex;
  gap: 1em;
  margin: 1em;
  padding: 1em;
 }
