body {
  display: flex;
  flex-direction: column;
  background-color: #e9a7ab;
}

body header h2 {
  color: rgb(15, 14, 14);
  text-align: right;
  font-family: cursive;
  font-size: 1em;
  padding-right: 20px;
}
.box {
  display: flex;
  align-items: center;
  color: rgb(188, 12, 12);
  gap: 1em;
  border: 4px dashed;
  border-color: #a5e9e4;
  background-color: bisque;
  padding: 5px;
  border-radius: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #a5e9e4;
  font-size: 1.25em;
}

/* Define styles for the custom header */
.top-nav {
  background-color: #a5e9e4;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* Style for the header links container */
.nav-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 0.25em;
}

/* Style for the hamburger menu container */
.ham-menu {
  display: none; /* Initially hide the hamburger menu */
  cursor: pointer;
}

/* Style for the individual bars in the hamburger menu icon */
.bar {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 6px 0;
}

main {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to a new row when space runs out */
  flex-direction: row; /* Ensures horizontal layout first */
  gap: 40px; /* Adds space between items */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Aligns items vertically */
  width: 100%; /* Ensures the container spans full width */
}

main a {
  display: flex;
  max-height: 200px;
  max-width: 200px;
}

main img {
  max-width: 100%; /* Prevents images from overflowing */
  height: 400px; /* Maintains aspect ratio */
  width: 300px;
}

/* Media query for responsive design - screens with a width up to 768px */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide box elements on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: rgb(233, 183, 150);
    width: 90%;
  }

  /* Show header links on click for smaller screens */
  .nav-links.show {
    display: flex;
    flex-direction: column;
  }

  .nav-links.show a {
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
  }

  /* Remove margin between links in mobile view */
  .nav-link {
    margin: 0;
  }

  /* Display the hamburger menu on smaller screens */
  .ham-menu {
    display: block;
  }
}
