body {
  display: grid;
  background-color: rgb(170, 103, 148);
}

body header h1 {
  color: rgb(15, 14, 14);
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  padding-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ea865f;
  font-size: 1.25em;
}

header li {
  display: inline;
  color: rgb(236, 78, 144);
}

#hometown {
  justify-content: space-between;
  /* display: inline; */
  height: 400px;
  width: 300px;
}
