body {
  background-image: url("img/koala2.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-color: rgb(214, 155, 148, 0.73);
  background-position-y: bottom;
  background-position-x: right;
}

body header h2 {
  color: rgb(15, 14, 14);
  text-align: right;
  font-family: cursive;
  font-size: 1em;
  padding-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #94d0d6;
  font-size: 1.25em;
}

/* Define styles for the custom header */
.top-nav {
  background-color: #94d0d6;
  color: #c68585;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* Style for the header links container */
.nav-links {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.nav-links a {
  margin: 0 0.25em;
}

/* Style for the hamburger menu container */
.ham-menu {
  display: none; /* Initially hide the hamburger menu */
  cursor: pointer;
}

/* Style for the individual bars in the hamburger menu icon */
.bar {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 6px 0;
}

/* Media query for responsive design - screens with a width up to 768px */
@media only screen and (max-width: 768px) {
  /* Adjust styles for header links on smaller screens */
  .nav-links {
    display: none; /* Hide box elements on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: rgb(233, 183, 150);
    width: 90%;
  }

  /* Show header links on click for smaller screens */
  .nav-links.show {
    display: flex;
    flex-direction: column;
  }

  .nav-links.show a {
    padding: 1em;
    border: black 1px solid;
    border-radius: 10px;
  }

  /* Adjust styles for individual header links in mobile view */
  .nav-link {
    margin: 0; /* Remove margin between links in mobile view */
  }

  /* Display the hamburger menu on smaller screens */
  .ham-menu {
    display: block;
  }
}

h2,
p {
  color: rgb(216, 10, 10);
  vertical-align: center;
}

p {
  font-size: 1em;
}

iframe {
  color: #1d1c1c;
}
label,
span {
  color: #1d1c1c;
}

.box {
  display: block;
  justify-content: left;
  align-items: left;
  width: 25%;
  border: 4px dashed;
  border-radius: 1em;
  border-color: #94d0d6;
  background-color: bisque;
  padding: 1em;
  margin: 1em;
}
