html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("img/Quilt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgb(231, 112, 112); */
}

.main-title {
  color: rgb(240, 235, 235);
  display: flex;
  align-items: center;
  font-size: 32px;
  background-color: rgb(188, 100, 100);
  text-align: center;
  flex-direction: column;
  vertical-align: middle;
  height: 60px;
}

main {
  color: peachpuff;
}

box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation {
  display: flex;
  justify-content: right;
  flex-direction: row;
}

h1 {
  color: rgb(188, 12, 12);
  width: 50%;
  border: 4px solid;
  border-color: darkgreen;
  background-color: bisque;
  background-image: src= "img/Quilt.jpg";
}

ul {
  color: aqua;
}

.map-container {
  display: flex;
  color: black;
  border: 5px 5px 5px 5px;
  border-color: orangered;
  align-items: center;
  justify-content: center;
  width: 300;
  height: 250;
  padding: 40px;
}

.Resources h2 {
  color: rgb(216, 10, 10);
  vertical-align: center;
}
.Resources {
  background-image: url("img/fox.jpg");
}
